article {
    padding: 1rem;
    margin: 1rem;
    border: #c9c9c9 0.2rem solid;
    border-radius: 0.2rem;

    min-height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

article section h3 {
    width: 100%
}

article section p {
    text-align: justify;
}

article p.date {
    width: 100%;
    text-align: right;
}