article {
    padding: 1rem;
    margin: 1rem;
    border: black 0.2rem solid;

    min-height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

article section h3 {
    width: 100%
}

article section p {
    text-align: justify;
}