header {
    max-height: 8vh;
    width: 100%;

    padding: 0 1rem;
}

header nav ul {
    list-style: none;
}

header nav ul li h1 {
    font-family: "Cedarville Cursive", sans-serif;
    font-weight: lighter;

    font-size: 2rem;
}

header nav ul li h1 a {
    text-decoration: none;
    color: black;
}

header nav ul li h1 a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: .5rem;
    text-decoration-color: black;
    text-decoration-style: solid;
}

header nav ul li h1 a:active {
    text-decoration-thickness: .8rem;
    text-decoration-color: pink;
}
