article {
    padding: 1rem;
    margin: 1rem;
    border: #c9c9c9 0.2rem solid;
    border-radius: 0.2rem;

    min-height: 80vh;
    width: calc(100% - 2rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

article section h3 {
    width: 100%
}

article section p {
    text-align: justify;
}

article div.date-container {
    width: 100%;
    text-align: right;
    font-size: 1.2rem;

    position: absolute;
    top: -1.5rem;
    padding: 0 .5rem;

    display: flex;
    flex-direction: row;
    justify-content: right;
}

article div.date-container p.date {
    background: antiquewhite;
}
